<ngb-accordion *mobxAutorun>
  <ngb-panel>
    <ng-template ngbPanelTitle>
      <div class="row">
        <i class="material-icons">bookmark</i>
        <h5>Bookmarks</h5>
        <span>({{store.bookmarks.length}})</span>
      </div>
    </ng-template>

    <ng-template *ngIf="store.bookmarks.length > 0; else withoutBookmarks " ngbPanelContent>
      <ul *ngFor="let item of store.bookmarks">
        <li>{{item}}</li>
      </ul>
    </ng-template>

    <ng-template #withoutBookmarks ngbPanelContent>
      <span>Add videos to your bookmarks</span>
    </ng-template>
  </ngb-panel>
</ngb-accordion>

